.contactheader {
    padding-left: 5rem;
        padding-right: 5rem;
        padding-bottom: 50px;
        padding-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
    font-family: Abel;
    color: #707070;
}

.contactheader ul li{
    list-style: none;
}



.contactheaderchildtwo {
    padding-top: 55px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    border-bottom: 1px solid #707070;
}

.contactheaderchildtwo h5 {
    font-size: 20px;
    padding-bottom: 10px;
}

.contactheaderchildtwo ul li {
    font-size: 20px;
    padding-bottom: 65px;
}

.contactheaderchildtwo ul li a {
    color: #707070;
}

.contactheaderchildtwoinnerthree {
    align-self: end;
}

/* body */
.contactbody {
   
    font-family: Abel;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 100px;
    
       
}

.contactbodychildtwo {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
}

.contactbodychildtwo h2 {
    font-size: 50px;
    color: var(--primary-color);
    padding-bottom: 30px;
}

.contactbodychildtwoinnerone {
 
    height: 1200px;

}

/* button {
    border: none;
} */

.footersocialicons {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
    width: 70%;
}



.forminput {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.pairedinputs {
    display: flex;
    gap: 20px;
    padding-bottom: 15px;
}

.contactbody label {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #707070;
    font-size: 20px;
}

.formcontrol {
    color: #707070;
}

.labelrequired {
    color: var(--primary-color);
}

.contactrequired {
    color: #707070;
    padding-bottom: 50px;
    font-size: 20px;
}

.formgroup {
    padding-bottom: 20px;
}

.formgroup input {
    width: 600px;
    font-size: 20px;
}

.pairedinputs input {
    width: 290px;
    font-size: 20px;
}

.consentforms {
    padding-bottom: 20px;
}

.consetinput {
    padding-top: 20px;
    font-size: 20px;
    display: flex;
    gap: 10px;
}

.formbtns {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btnPrimary {
    background-color: var(--secondary-color);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    transition: all 100ms ease-in-out;
    font-family: Abel;
    color: white;
    font-weight: bold;
}

.btnPrimary:hover {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 21px;
    padding-right: 21px;
}

.btnContainer {
    padding-top: 20px;
    padding-bottom: 20px;

}



@media (max-width: 820px) {
.contactheader {
    padding-left: 20px;
    padding-right: 5px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr;
    
    gap: 30px;
  
    }

    .contactheaderchildtwo {
        padding-top: 0px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 5px;
        border-bottom: 1px solid #707070;
    }

    .contactheaderchildtwo ul li {
        font-size: 20px;
        padding-bottom: 10px;
     }

    .contactbodychildtwoinnerone{
        display: none;
    }

    .contactbodychildtwo {
         display: grid;
         grid-template-columns: 1fr;
         gap: 20px;
    }

    .pairedinputs {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-bottom: 15px;
    }

    .formgroup input {
         width: 350px;
    }

    .pairedinputs input {
            width: 350px !important;
    }

    .contactbody {
        font-family: Abel;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 50px;
    
    }
    .formgroup textarea{
        width: 350px;
    }

        .contactbodychildtwo h2 {
            font-size: 30px;
            color: var(--primary-color);
            font-family: Tungsten;

        }
         
  
}
