.Hero {
    height: 600px;
    padding-top: 100px;
    background-size: cover;
    background: linear-gradient(rgba(1, 41, 95, 0.5), rgba(1, 41, 95, 0.5)),
        url("../assets/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
}

.Herochildone {
    padding-top: 30px;
    color: white;
    padding-left: 5rem;
}

.Herochildone h1 {
    font-family: Abel;
    font-size: 45px;
    font-weight: bolder;
}

.Herochildthree {
    justify-self: end;
    align-self: center;
    width: 24px;
    height: 24px;
    position: relative;
    animation: glide 2s ease-in-out alternate infinite;
    padding-right: 5rem;
}

/* form */

@keyframes glide {
    from {
        left: 0px;
        top: 0px;
    }

    to {
        left: 0px;
        top: 20px;
    }
}




@media (max-width: 820px) {

.Hero {
    height: 500px;
    padding-top: 30px;
        background-size: cover;
        background: linear-gradient(rgba(1, 41, 95, 0.5), rgba(1, 41, 95, 0.5)),
            url("../assets/bg1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
        grid-template-columns: 4fr 1fr 1fr;
    }


    .Herochildone h1 {
        font-family: Abel;
        font-size: 30px;
        font-weight: bolder;
    }

        .Herochildone {
            padding-top: 30px;
            color: white;
            padding-left: 5px;
        }
    
}
