.Location {
    margin-left: 5rem;
    margin-right: 5rem;
    padding-bottom: 20px;
    padding-top: 1rem;
    display: flex;
    gap: 10px;
    font-family: Abel;
    font-size: 20px;
    border-bottom: 1px solid var(--secondary-color);
    
}

.active{
    color: var(--red);
}

@media (max-width: 820px) {
.Location {
     display: none;

    }
          
}
