.stats {
    background-image: url("../assets/svg/statsbg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 387.1px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: center;
    justify-items: center;
    margin-bottom: 100px;
}

.stats span {
    color: white;
}

.stats .counter {
    font-size: 50px;
}



@media (max-width: 820px) {
.stats {
        background-image: url("../assets/svg/mobile-starts.svg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 387.1px;
        display: grid;
        grid-template-columns: 1fr;
        align-content: center;
        justify-items: center;
        margin-bottom: 20px;
    }

.stats >div{
    display: none;
}

}